body {
  background-color: #7FDBFF;
}

#ptrue, #pfalse {
  display: none;
}

.card {
  width: 500px;
  margin-bottom: 20px;
  box-shadow: 2px 5px 50px #222;
}

.card-title {
  font-weight: bold;
}

ul{
  list-style-type: none;
}
