body {
  background-color: #7FDBFF;
}

#ptrue, #pfalse {
  display: none;
}

.jumbotron {
  margin-top: 25px;
  background-color: rgb(133, 158, 198, .4);
  text-align: center;
}

.inputField {
  margin-left: 10%;
  margin-bottom: 5%;
}

.card {
  width: 500px;
  margin-bottom: 20px;
  box-shadow: 2px 5px 50px #222;
}

.card-title {
  font-weight: bold;
}

ul{
  list-style-type: none;
}
